<app-default-login-layout
    title="Resete da senha"
    primaryBtnText="Trocar senha"
    secondaryBtnText="Voltar"
    (navigate)="navigate()"
    (submit)="resetPassword()"
    [disablePrimaryBtn]="!resetForm.valid"
>
    <form [formGroup]="resetForm">
        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="New Password">
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            label="Confirm your Password">
            <img src="/assets/svg/password-icon.svg"/>
        </app-primary-input>
    </form>

</app-default-login-layout>