<app-default-login-layout
    title="Recovery Password"
    primaryBtnText="Send Code"
    secondaryBtnText="Login Now"
    (submit)="sendResetCode()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!forgotPasswordForm.valid"
>
    <form [formGroup]="forgotPasswordForm">
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Digite seu e-mail"
            placeholder="johndoe@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
    </form>
</app-default-login-layout>
